<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <h2 class="text-center">Search by Bank Name</h2>
            <h3 class="text-center">
                <small>
                    Search the name of the bank you're looking for
                </small>
            </h3>
            <br />
            <div class="row">
                <form class="col-sm-8 col-sm-offset-2"
                    name="bankForm"
                    ng-submit="vm.search()">
                    <div class="form-group form-group-lg">
                        <label class="control-label sr-only" for="">
                            Hidden label
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" required
                                name="query"
                                placeholder="Enter bank name"
                                ng-model="vm.query" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                    ng-disabled="bankForm.query.$error.required">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <br />
            
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2" ng-if="vm.status === 2">
                    <p class="alert alert-danger">
                        Sorry, no banks with that name were found
                    </p>
                </div>
            </div>

            <div class="row">
                <div ng-class="{
                    'col-sm-4 col-sm-offset-4': vm.banks.length === 1,
                    'col-sm-6': vm.banks.length === 2,
                    'col-sm-4': vm.banks.length > 2}"
                    ng-repeat="bank in vm.banks">
                    <bank-address address="bank"></bank-address>
                </div>
            </div>
        </div>
    </div>
</div>
