<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <h2 class="text-center">Browse by Country</h2>

            <div class="alphabet well well-sm">
                <a class="letter" href="#/directory/a" ng-class="{active: vm.search === 'a'}">A</a>
                <a class="letter" href="#/directory/b" ng-class="{active: vm.search === 'b'}">B</a>
                <a class="letter" href="#/directory/c" ng-class="{active: vm.search === 'c'}">C</a>
                <a class="letter" href="#/directory/d" ng-class="{active: vm.search === 'd'}">D</a>
                <a class="letter" href="#/directory/e" ng-class="{active: vm.search === 'e'}">E</a>
                <a class="letter" href="#/directory/f" ng-class="{active: vm.search === 'f'}">F</a>
                <a class="letter" href="#/directory/g" ng-class="{active: vm.search === 'g'}">G</a>
                <a class="letter" href="#/directory/h" ng-class="{active: vm.search === 'h'}">H</a>
                <a class="letter" href="#/directory/i" ng-class="{active: vm.search === 'i'}">I</a>
                <a class="letter" href="#/directory/j" ng-class="{active: vm.search === 'j'}">J</a>
                <a class="letter" href="#/directory/k" ng-class="{active: vm.search === 'k'}">K</a>
                <a class="letter" href="#/directory/l" ng-class="{active: vm.search === 'l'}">L</a>
                <a class="letter" href="#/directory/m" ng-class="{active: vm.search === 'm'}">M</a>
                <a class="letter" href="#/directory/n" ng-class="{active: vm.search === 'n'}">N</a>
                <a class="letter" href="#/directory/o" ng-class="{active: vm.search === 'o'}">O</a>
                <a class="letter" href="#/directory/p" ng-class="{active: vm.search === 'p'}">P</a>
                <a class="letter" href="#/directory/q" ng-class="{active: vm.search === 'q'}">Q</a>
                <a class="letter" href="#/directory/r" ng-class="{active: vm.search === 'r'}">R</a>
                <a class="letter" href="#/directory/s" ng-class="{active: vm.search === 's'}">S</a>
                <a class="letter" href="#/directory/t" ng-class="{active: vm.search === 't'}">T</a>
                <a class="letter" href="#/directory/u" ng-class="{active: vm.search === 'u'}">U</a>
                <a class="letter" href="#/directory/v" ng-class="{active: vm.search === 'v'}">V</a>
                <a class="letter" href="#/directory/w" ng-class="{active: vm.search === 'w'}">W</a>
                <a class="letter" href="#/directory/x" ng-class="{active: vm.search === 'x'}">X</a>
                <a class="letter" href="#/directory/y" ng-class="{active: vm.search === 'y'}">Y</a>
                <a class="letter" href="#/directory/z" ng-class="{active: vm.search === 'z'}">Z</a>
            </div>

            <hr />
            <span class="hr-caption">{{vm.search}}</span>

            <div class="row" ng-if="vm.countries.length > 0">
                <div class="text-center"
                    ng-class="{
                        'col-sm-4 col-sm-offset-4': vm.countries.length === 1,
                        'col-sm-6': vm.countries.length === 2,
                        'col-sm-4': vm.countries.length === 3,
                        'col-sm-3': vm.countries.length > 3}"
                    ng-repeat="country in vm.countries | orderBy:'id'">
                    Flag
                    <h4>
                        <a href="#/countries/{{country.id}}">
                            {{country.name}}
                        </a>
                    </h4>
                </div>
            </div>

            <div class="row text-center" ng-if="vm.countries.length === 0">
                <p>No countries found</p>
            </div>
        </div>
    </div>
</div>
