<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


        <a class="navbar-brand" href="#/">
          Brand
          <div class="flag flag-info"></div>
          <div class="logo logo-inverse"></div>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--
      <ul class="nav navbar-nav">
        <li ng-class="{'active': vm.active === 'countries'}">
            <a href="#/directory">
                Countries
                <span class="sr-only" ng-if="vm.active === 'countries'">(current)</span>
            </a>
        </li>
        <li ng-class="{'active': vm.active === 'banks'}">
            <a href="#/banks">
                Banks
                <span class="sr-only" ng-if="vm.active === 'banks'">(current)</span>
            </a>
        </li>
        <li ng-class="{'active': vm.active === 'banks'}">
            <a href="#/banks">
                Codes
                <span class="sr-only" ng-if="vm.active === 'codes'">(current)</span>
            </a>
        </li>
        <li><a href="">{{vm.active}}</a></li>
      </ul>
       -->
      <form class="navbar-form navbar-right">
        <a href="" class="btn btn-primary">Send Money</a>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{'active': vm.active === 'countries'}">
            <a href="#/directory">
                Countries
                <span class="sr-only" ng-if="vm.active === 'countries'">(current)</span>
            </a>
        </li>
        <li ng-class="{'active': vm.active === 'banks'}">
            <a href="#/banks">
                Banks
                <span class="sr-only" ng-if="vm.active === 'banks'">(current)</span>
            </a>
        </li>
        <li ng-class="{'active': vm.active === 'banks'}">
            <a href="#/swift-codes">
                Codes
                <span class="sr-only" ng-if="vm.active === 'codes'">(current)</span>
            </a>
        </li>

           <!--
          <li><a href="#">Transfers</a></li>
          <li><a href="#">Recipients</a></li>
          <li><a href="#">Invite</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Steve <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
        </li>
        -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</header>
