<div class="home">
    <div class="bg-primary">
        <div class="container">
            <h1 class="text-center">BIC / Swift Code Toolkit</h1>
            <p class="text-center"><small>BIC / Swift Code Toolkit</small></p>

            <div class="row">
                <div class="col-sm-4 text-center">
                    <a href="#/banks" class="circle-badge">
                        <div class="circle-outer">
                            <div class="circle">
                                <span class="glyphicon glyphicon-home"></span>
                            </div>
                        </div>
                        <p>Search by bank</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="#/directory/u" class="circle-badge">
                        <div class="circle-outer">
                            <div class="circle">
                                <span class="glyphicon glyphicon-globe"></span>
                            </div>
                        </div>
                        <p>Browse by country</p>
                    </a>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="#/swift-codes" class="circle-badge">
                        <div class="circle-outer">
                            <span class="circle">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </span>
                        </div>
                        <p>Check a code</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-warning">
        <div class="container">
            <h3 class="text-center">What is a BIC / Swift code?</h3>
            <div class="row swift-components">
                <div class="col-sm-6">
                    <div class="swift-description clearfix"
                        ng-class="{'active': vm.section === 'a'}"
                        ng-click="vm.section = 'a'">
                        <div class="circle"
                            ng-class="{'active': vm.section === 'a'}">A</div>
                        <strong>
                            Bank code
                            <span class="label label-default">A-Z</span>
                        </strong>
                        <p>Consisting of 4 character, letter only</p>
                    </div>
                    <div class="swift-description clearfix"
                        ng-class="{'active': vm.section === 'b'}"
                        ng-click="vm.section = 'b'">
                        <div class="circle"
                            ng-class="{'active': vm.section === 'b'}">B</div>
                        <strong>
                            Country code
                            <span class="label label-default">A-Z</span>
                        </strong>
                        <p>ISO 3166-1 alpha-2 of letters only</p>
                    </div>
                    <div class="swift-description clearfix"
                        ng-class="{'active': vm.section === 'c'}"
                        ng-click="vm.section = 'c'">
                        <div class="circle"
                            ng-class="{'active': vm.section === 'c'}">C</div>
                        <strong>
                            Location code
                            <span class="label label-default">0-9</span>
                            <span class="label label-default">A-Z</span>
                        </strong>
                        <p>Will have "1" in the second character</p>
                    </div>
                    <div class="swift-description clearfix"
                        ng-class="{'active': vm.section === 'd'}"
                        ng-click="vm.section = 'd'">
                        <div class="circle"
                            ng-class="{'active': vm.section === 'd'}">D</div>
                        <strong>
                            Branch Code
                            <span class="label label-default">0-9</span>
                            <span class="label label-default">A-Z</span>
                        </strong>
                        <p>Optional 'XXX' for primary office</p>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <div class="bg-primary swift-card">
                            <div class="swift-number">
                                <a href=""
                                    ng-class="{'active': vm.section === 'a'}"
                                    ng-click="vm.section = 'a'">AAAA</a>
                                <a href=""
                                    ng-class="{'active': vm.section === 'b'}"
                                    ng-click="vm.section = 'b'">BB</a>
                                <a href=""
                                    ng-class="{'active': vm.section === 'c'}"
                                    ng-click="vm.section = 'c'">CC</a>
                                <a href=""
                                    ng-class="{'active': vm.section === 'd'}"
                                    ng-click="vm.section = 'd'">DD</a>
                            </div>
                            <small>BIC / SWIFT CODE</small>
                        </div>
                    </div>
                </div>
            </div>

            <p class="text-center">Swift Code is a standard format of Bank
                Identifier Codes (BIC) and it is unique identification code for
                a particular bank. These codes are used when transferring money
                between banks, particularly for international wire transfers.</p>
            <p class="text-center">Banks also used the codes for exchanging other
                messages between them.</p>
        </div>
    </div>

    <div class="container faqs text-center">
        <h3>
            FAQs
        </h3>
        <div class="row">
            <div class="col-sm-3">
                <strong>Question title like this</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do siusmod tempor</p>
            </div>
            <div class="col-sm-3">
                <strong>Question title like this</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do siusmod tempor</p>
            </div>
            <div class="col-sm-3">
                <strong>Question title like this</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do siusmod tempor</p>
            </div>
            <div class="col-sm-3">
                <strong>Question title like this</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do siusmod tempor</p>
            </div>
        </div>
    </div>
    <div class="bg-warning">
        <div class="container text-center">
            <h3>The clever new way to beat the banks</h3>
            <p>
                <small>With TransferWise you save up to 90%.  Problem solved,
                    money saved.</small>
            </p>
            <button class="btn btn-primary btn-lg">Learn More</button>
        </div>
    </div>
</div>
